<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Disrupting Marriage</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/public/src/directives/btnUpload.min.css" />
  <!--[if lt IE 9]>
    <script src="/public/bower_components/es5-shim/es5-shim.min.js"></script>
    <script src="/public/bower_components/json3/lib/json3.min.js"></script>
    <script src="/public/bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="/public/bower_components/respond/respond.min.js"></script>
    <script src="/public/bower_components/n3-line-chart/dist/line-chart.min.js"></script>
  <![endif]-->
  <script src="/public/bower_components/angular/angular.js" charset="utf-8"></script>
  <script src="/public/angular-upload.js" charset="utf-8"></script>
  <script src="/public/bower_components/d3/d3.js"></script>
  <script src="/public/bower_components/n3-line-chart/dist/line-chart.js"></script>
  <script src="/public/bower_components/lodash/dist/lodash.min.js"></script>
  <script src="/public/bower_components/lodash/dist/lodash.underscore.min.js"></script>
  <script src="/public/example/fake_data_1.js"></script>
  <script src="/public/example/fake_data_2.js"></script>

  <script charset="utf-8">

    // Define our main app
    var app = angular.module('app', [
      'lr.upload',
      'n3-line-chart'
    ]);

    app.controller('AppCtrl', function ($scope, $http) {

      // App variable to show the uploaded response
      $scope.responseData = undefined;
      $scope.fakeData1 = null;
      $scope.fakeData2 = null;


      // Get initial uploads and populate list
      $http({
        method: 'get',
        url: '/uploads?' + new Date().getTime(),
        cache: false
      }).then(function (response) {
        $scope.uploads = response.data;
      });

      // Global handler for onSuccess that adds the uploaded files to the list
      $scope.onGlobalSuccess1 = function () {
        $scope.fakeData1 = fakeData1;
        $scope.partner1Data = barFrameResuls($scope.fakeData1.VideoFrameResults);
      };

      $scope.onGlobalSuccess2 = function () {
        $scope.fakeData2 = fakeData2;
        $scope.partner2Data = barFrameResuls($scope.fakeData2.VideoFrameResults);
      };

      var barFrameResuls = function(data) {
        return _.map(data, function(result) {
          return {
            'x': result.Timestamp,
            'Neutral': result.EmotionResult.Neutral,
            'Anger': result.EmotionResult.Anger,
            'Disgust': result.EmotionResult.Disgust,
            'Fear': result.EmotionResult.Fear,
            'Joy': result.EmotionResult.Joy,
            'Sadness': result.EmotionResult.Sadness,
            'Surprise': result.EmotionResult.Surprise
          }
        });
      };

      $scope.options = {
        axes: {
          x: {key: 'x', labelFunction: function(value) {return value;}, type: 'linear'},
          y: {type: 'linear', min: 0, max: 1},
          y2: {type: 'linear', min: 0, max: 1}
        },
        series: [
          {y: 'Neutral', color: 'orange', thickness: '2px', type: 'area', striped: true, label: 'Neutral'},
          {y: 'Anger', color: 'steelblue', thickness: '2px', type: 'area', striped: true, label: 'Anger'},
          {y: 'Disgust', color: 'pink', thickness: '2px', type: 'area', striped: true, label: 'Disgust'},
          {y: 'Fear', color: 'green', thickness: '2px', type: 'area', striped: true, label: 'Fear'},
          {y: 'Joy', color: 'red', thickness: '2px', type: 'area', striped: true, label: 'Joy'},
          {y: 'Sadness', color: 'purple', thickness: '2px', type: 'area', striped: true, label: 'Sadness'},
          {y: 'Surprise', color: 'black', thickness: '2px', type: 'area', striped: true, label: 'Surprise'}
        ],
        lineMode: 'linear',
        tension: 0.7,
        tooltip: {mode: 'scrubber', formatter: function(x, y, series) {return 'point';}},
        drawLegend: true,
        drawDots: true,
        columnsHGap: 0
      };

      $scope.process = function() {
        $http({
          method: 'post',
//          url: 'http://still--1197.herokuapp.com/process',
//          url: 'http://localhost:4567/process',
          url: 'http://still-headland-1197.herokuapp.com/process',
          crossDomain: true,
          data: {
            "emovuData": [$scope.fakeData1, $scope.fakeData2]
          }
        }).success(function(data, status, headers, config) {
          console.log(data);
        }).error(function(data, status, headers, config) {
          console.log(data);

        });

      }

    });

    app.controller('SimpleCtrl', function ($scope, $http) {
      // Nothing special needed from the controller
    });

    // Start it up
    angular.element(document).ready(function () {
      angular.bootstrap(document, ['app']);
    });

  </script>
</head>
<body>
  <div class="" ng-controller="AppCtrl">
    <div class="jumbotron light-gray">
      <div class="jumbotron-body container">
        <h1>Divorce-Disrupt</h1>

        <p>Predicting with 85% accuracy whether a couple will stay together or get divorced. </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default him" ng-controller="SimpleCtrl">
            <div class="panel-heading">
              <h3 class="panel-title">Partner A</h3>
            </div>
            <div class="panel-body">
              <button class="btn btn-primary btn-upload" ng-click="onGlobalSuccess1(response)">
                Fileupload Partner A
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default her" ng-controller="SimpleCtrl">
            <div class="panel-heading">
              <h3 class="panel-title">Partner B</h3>
            </div>
            <div class="panel-body">
              <button class="btn btn-primary btn-upload" ng-click="onGlobalSuccess2(response)">
                Fileupload Partner B
              </button>
            </div>
          </div>
        </div>

        <div class="center">
          <button class="btn btn-primary btn-lg btn-upload" ng-show="fakeData1 && fakeData2" ng-click='process()'>Should I Get a Layer??</button>
        </div>

        <div>
          <div ng-show="partner1Data">
            <h3>Partner A</h3>
            <linechart data="partner1Data" options="options" mode=""></linechart>
          </div>

          <div ng-show="partner2Data">
            <h3>Partner B</h3>
            <linechart data="partner2Data" options="options" mode=""></linechart>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
</html>
